.App {
    text-align: center;
    background: radial-gradient(circle at 30% 0%, rgb(50, 10, 74) 34%, rgb(50, 38, 130) 75%);
    width: 100%;
    margin: auto;
    max-width: 540px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.8);
}

.svgContainer {
    width: 80%;
    aspect-ratio : 1 / 1;
    margin: auto;
}

.svgElm {
    width: 100%;
    height: 100%;
}

.outline {
    fill: rgba(0, 0, 0, 0);
    stroke: #442D73;
    stroke-width: 2;
    stroke-dasharray: 0;
    stroke-dashoffset: 1000;
}

.outlineAnim {
    fill: rgba(0, 0, 0, 0);
    stroke: #D29EE6;
    stroke-width: 2;
    stroke-dasharray: 753;
    stroke-dashoffset: 0;
    filter: drop-shadow( 0px 0px 4px rgba(210, 158, 230, .7));
}

@keyframes rotate {
    to {
        stroke-dashoffset: 753;
    }
}

.input-row {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

input[type='number'] {
    font-size: 22px;
    width: 96px;
    margin-left: 16px;
    margin-right: 16px;
}

button {
    background: #D29EE6;
    border: none;
    font-size: 16px;
    padding: 11px;
    margin-right: 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.4s;
}

button:hover {
    background: #fff;
}

.timer-label {
    position: relative;
    font-size: 36px;
    left: 0; right: 0;
    margin-top: -55%;
}

.round-button {
    padding: 16px;
}

.logo {
    position: fixed;
    bottom: 8px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 240px;
}

.pt-5 {
    padding-top: 32px;
}

